.App {
  text-align: center;
  background-color: #477eee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px
}

a:link, a:visited {
  color: #61dafb;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.gap5 {
  gap: 5px;
}

.blueButton {
  font-family: Bubbleboddy, sans-serif;
  font-size: 15px;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
  background-color: #0052a1;
  color: lightblue;
}

.blueButton:hover {
  background-color: #014a8f;
}

.textInput {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 3px;
  border: solid 2px #48c5c8;
  border-radius: 10px;
  background-color: #89ffdd;
  color: #014a8f;
}

.roundPanel {
  min-width: 300px;
  background-color: #0052a1;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}

.width300 {
  width: 300px;
}